
  {{> head page}}

    {{> header }}

    <section class="section-main">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa corrupti provident quod. Voluptates consequatur ducimus ex dolorem voluptatibus, et facere necessitatibus vero accusantium recusandae consequuntur qui modi nam facilis ad.</p>
    </section>

    {{> footer }}

    <script src="js/script.js"></script>
    <script src="js/nav.js"></script>
  </body>
</html>
